/* Global styles */
html,
body {
  width: 100%;
  height: 100%;
}
section h2 {
  font-size: 3rem;
  text-align: center;
}
:root {
  --lightRed: #ff645780;
  --white: #ffffff;
  --black: #000000;
  --lightPurple: #3042ff;
  --rose: #ff6457;
  --navy:#050f57 ;
  --gray: #acacac;
}
a {
  text-decoration: none;
  transition: all .35;
}
.work-section,
.skills-section,
.contact-section {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* Navigation bar styles */
.navbar .navbar-nav .nav-link {
  color:#050f57;
  font-size: 1.2em;
  padding: 0.6em;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover {
background-color: var(--lightRed);
color: var(--white);
}

/* Hero section styles */
.jumbotron {
  background: url(../images/03-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-top: 80px;
}
.photo {
  border: 2px solid var(--black);
  border-radius: 2em;
}

/* Work section styles */
.work-section {
  background-color: var(--lightPurple);
  background-image: linear-gradient(to bottom, #3042ff , #6457ff, #917fff);
  margin-top: 0;
  padding-bottom: 2em;
}
.work-section h2 {
  color: var(--white);
}
.project:hover
{
  transform: scale(1.1);
}

/* Skills section styles */
.skills-section {
  background-color: var(--white);
}
.skills-align-center{
  text-align: center;
}
.skill-card {
 background-color: transparent;
 border: none;
}
.fa-5x {
  padding: 2rem;
  color: var(--rose);
}

/* Contact section styles */
.contact-section{
  background-color: var(--navy) ;
  background-image: linear-gradient(to bottom, #050f57 , #231b64, rgb(66, 56, 119), #8078a2);
  color: var(--white);
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.email-btn {
  border-radius: 2rem;
  background-color: var(--rose);
  padding: 0.5rem 2rem;
  border: none;
  border: 2px solid var(--white);
  margin: 1rem 0;
}
.email-btn:hover {
  color: #050f57;
  border: 2px solid #fff;
  box-shadow: 20px 20px 50px 10px #c7c0e7 inset;
}

/* Footer section styles */
.footer-section {

  color:rgb(225, 231, 236);
}
.footer-section .social-icon {
  font-size: 2em;
  color: var(--rose);
}
.footer-section .social-icon:hover {
  color: var(--lightPurple);
}
.copy-text {
  font-size: 14px;
  color: var(--gray);
}

/*Media Queries*/
@media only screen and (min-width:0px) and (max-width: 576px) {
.email-me-hide {
  display: none;
}
#skills{
  font-size: 10px;
}
h5.card-title {
  font-size: 10px;
}
section h2 {
  padding-top: 2rem;
}
}

@media only screen and (max-width:768px) {
  .email-me-hide {
    display: none;
  }
  #skills{
    font-size: 14px;
  }
  h5.card-title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar .navbar-brand {
    padding: 0 0.8em;
  }
}